certifi==2018.4.16
chardet==3.0.4
click==6.7
cycler==0.10.0
decorator==4.3.0
dukpy==0.2.0
echarts-china-cities-pypkg==0.0.8
echarts-china-provinces-pypkg==0.0.2
echarts-countries-pypkg==0.1.4
Flask==1.0.2
Flask-WTF==0.14.2
future==0.16.0
ibmcloudenv==0.2.1
idna==2.7
itsdangerous==0.24
javascripthon==0.10
Jinja2==2.10
jsonpath-rw==1.4.0
jupyter-echarts-pypkg==0.1.1
kiwisolver==1.0.1
lml==0.0.2
lxml==4.6.3
macropy3==1.1.0b2
MarkupSafe==1.0
matplotlib==2.2.2
numpy==1.15.0
pandas==0.23.3
pandas-datareader==0.6.0
patsy==0.5.0
Pillow==5.2.0
ply==3.11
prometheus-client==0.3.0
pycharts==0.1.5
pyecharts==0.5.5
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
requests-file==1.4.3
requests-ftp==0.3.1
scipy==1.1.0
six==1.11.0
statsmodels==0.9.0
urllib3==1.23
Werkzeug==0.14.1
wrapt==1.10.11
WTForms==2.2.1
gunicorn==19.7.1
